
.title {
    display: flex;
    align-items: center;
   
}

.title img {
    width: 20%; /* Adjust the width as needed */
    height: 10%; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}

.title h1 {
    display: inline;
    font-family: sans-serif;
    text-align: center;
}

.hero{
    background-color: rgb(209, 15, 15);
    height: 400px;
    margin-top: 100px;
}


.flex-item {
    background-color: #e0e0e0;
    padding: 20px;
    margin: 50px;
    flex: 1;
    border-radius: 10px;
    text-align: center;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 200px;
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
    justify-content: center; /* Add this line */
}

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flex-item img {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    margin-right: 8px; /* Space between the icon and the text */
  }

  .flex-item:hover {
    background-color: #f0f0f0; /* Change background color on hover */
    transform: scale(1.05); /* Slightly enlarge the item on hover */
  }